body{
  font-family: 'Lato', sans-serif;
}

#header{
  background: url("../img/slider.jpg") left top no-repeat;
  background-size: cover;
  height: 745px;
}

.navbar_item{
  padding-top: 30px;
}

.navbar_item ul{}

.navbar_item ul li{
  color: #fff;
  padding-right: 45px;
  font-family: 'Lato', sans-serif;

  font-weight: bold;
}

.navbar_item ul li:last-child{
  padding-right: 0px;
}

.navbar_item ul li a{
  font-size: 15px;
}

.navbar_item ul li a:hover{
  color:#fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

#slider1{
  margin-top: 250px;
}

.slider_secton_1{}

.slider_secton_1 h2{
font-weight: 800;
padding-bottom: 8px;

}

.slider_secton_1 p{
  font-size: 18px;
  color: #fff;
  font-weight: 800;
  padding-bottom: 10px;
}

.slider_secton_1 a{
  padding: 20px 30px;
  background: #16a085;

  border:1px solid #16a085;
  text-decoration: none;
  color: #fff;
}

.slider_secton_1 a:hover{
  background-color: #2ea89d;
border-color: #16a085;
color: #000;
}

  .slider_secton_2{}

  .slider_secton_2 h2{
  font-weight: 800;
  padding-bottom: 8px;

}

  .slider_secton_2 p{
      font-size: 18px;
      color: #fff;
      font-weight: 800;
      padding-bottom:10px;

  }

  .slider_secton_2 a{
  padding: 20px 30px;

background: #16a085;
  border:1px solid #16a085;
  text-decoration: none;
  color: #fff;
  }

.slider_secton_2 a:hover{

background-color: #2ea89d;
border-color: #16a085;
color: #000;


}

.photoapp_articles{
  padding-top: 125px;
  padding-bottom: 150px;
}

.photoapp_articles img{
  height: 65px;
  width: 75px;
  margin-bottom: 35px;
}

.photoapp_articles h5{
  color: #16a085;
  font-size: 15px;
  font-weight: 800;
}

.photoapp_articles p{
  color: #373737;
  font-size: 12px;
}

.photoapp{
  transition: all .8s;
}

.photoapp:hover{
  transform: scale(1.1);
}

.design_img{
  margin-top: 40px;
}

.design_img img{}

.design_articles{

  margin-left: 100px;
}

.design_articles h5{
  color: #16a085;
  font-size: 30px;
  font-weight: 800;
  padding-top: 160px;
  padding-bottom: 45px;
}

.design_articles p{
  color: #373737;
  font-size: 18px;
  font-weight: 800;
  white-space: pre-line;
  line-height: 30px;
}

.design_articles a {
  padding: 18px 40px;
  color:#fff;
  background-color: #16a085;
  border-radius: none;

}

  .btn {
      display: inline-block;
      font-weight: 800;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom-color: transparent;
          border-left-color: transparent;
      padding: 0.375rem 0.75rem;
      font-size: 15px;
      line-height: 1.5;
      border-radius: 0;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  #community_section{
    padding-top: 115px;
  }

  .community_articles{
    margin-bottom: 120px;
  }

  .community_articles img{
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .community_articles h5{
    font-size: 25px;
    color: #373737;
    font-weight: 800;
  }

  .community_articles p{font-size: 15px;color: #373737;white-space: pre-line;}

  #service_section{
    background: url('../img/service.jpg') left top no-repeat;
    background-size: cover;
    height: 790px;

  }

  .sevice_articles{

  }

  .sevice_articles h3 {
  	padding-top: 350px;
  	color: #fff;
  	text-transform: uppercase;
  	font-size: 25px;
  	letter-spacing: 3px;
    margin-bottom: 35px;
  }

.service_input{

}

  .form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-prepend > .input-group-text, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-append > {
  	padding: 20px 120px 20px 20px;
  	font-size: 14px;
  	line-height: 1.5;
  	color: #373737;
  	font-weight: 800;
  	margin-left: 70px;
  }

  .fa {
  	padding: 0px 10px;
  	color: #fff;

  }

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #16a085;
    border: none;

  }

  .download_articles{
    margin-top: 90px;
    margin-bottom: 45px;

  }

  .download_articles h3 {
  	color: #373737;
  	font-size: 27px;
  	font-weight: 800;
  	letter-spacing: 3px;
  }

  .download_articles p{
    white-space: pre-line;
    color: #373737;
    font-size: 18px;
  }

  .download_input{
    padding-bottom: 118px;
  }

  .input_item{}

    .button_control {
    	padding: 23px 0px 23px 0px;
    	background: #1abc9c;
    	color: #ffffff;
    	font-size: 15px;
    	font-weight: 800;
    	letter-spacing: 1px;
    }

    .btn-success:hover {
    color: #000;
    background-color: #2ea89d;
    border-color: #16a085;
}

.icon{
  font-size: 20px;
}

.icon_section{
  background: #16a085 !important;
}

#footer_section{}

  .footer_articles span {
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	color: #373737;
    padding-bottom: 20px;
  }

  .footer_articles p {
  	font-size: 18px;
  	color: #373737;
  	padding-top: 10px;
  }
